.header {
    padding: var(--pad-global);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}